<div class="prose flex-col max-w-none flex w-full">
  <h1>Edit Template</h1>
  <%= form_with model: @template do |f| %>
    <div class="mb-6 flex gap-2 items-center">
      <%= f.label :header, class: "block text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.check_box "header[is_header]" , checked: @template.header['is_header']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
    </div>
    <div class="flex gap-[12px]">
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_header">Background</label>
        <%= f.color_field "header[background]" ,
          value: "#{@template.header['background'].present? ? @template.header['background'] : '#808080'}" ,
          class: "block w-[30px] text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="template_header">Logo</label>
        <%= f.check_box "header[logo]" , checked: @template.header['logo']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="template_header">Logo text
          color</label>
        <%= f.color_field "header[logo_color]" ,
          value: "#{@template.header['logo_color'].present? ? @template.header['logo_color'] : '#ffffff'}" ,
          class: "block w-[30px] text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="template_header">Avatar
          Author</label>
        <%= f.check_box "header[avatar_author]" , checked: @template.header['avatar_author']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
    </div>
    <div class="mb-6">
      <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.text_field :name ,
          class: "block w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
    </div>
    <div class="mb-6">
      <%= f.label :body, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.text_area :body,
          class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
    </div>
    <div class="mb-6 flex gap-2 items-center">
      <%= f.label :footer, class: "block text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.check_box "footer[is_footer]" , checked: @template.footer['is_footer']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
    </div>
    <div class="flex gap-[12px]">
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_footer">Background</label>
        <%= f.color_field "footer[background]" ,
          value: "#{@template.footer['background'].present? ? @template.footer['background'] : '#808080'}" ,
          class: "block w-[30px] text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_footer">Facebook</label>
        <%= f.check_box "footer[facebook]" , checked: @template.footer['facebook']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_footer">Instagram</label>
        <%= f.check_box "footer[instagram]" , checked: @template.footer['instagram']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_footer">Twitter</label>
        <%= f.check_box "footer[twitter]" , checked: @template.footer['twitter']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
      <div class="mb-6 flex flex-col justify-start items-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="template_footer">Linkedin</label>
        <%= f.check_box "footer[linkedin]" , checked: @template.footer['linkedin']=="1" ? true : false,
          class: "block text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          %>
      </div>
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="template_footer">Address</label>
      <%= f.text_field "footer[address]" ,
        value: "#{@template.footer['address'].present? ? @template.footer['address'] : 'Bd. Liviu Rebreanu 59, Timisoara 300755, Romania'}",
        class: "block w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        %>
    </div>
    <div class="mb-6 flex justify-start items-center gap-2">
      <label class="block text-sm font-medium text-gray-900 dark:text-white" for="template_footer">Address text
        color</label>
      <%= f.color_field "footer[address_color]" ,
        value: "#{@template.footer['address_color'].present? ? @template.footer['address_color'] : '#ffffff'}" ,
        class: "block w-[30px] text-gray-900 bg-gray-50 rounded-lg sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        %>
    </div>
    <div class="mb-6">
      <%= f.submit :send,
        class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        %>
    </div>
    <% end %>
</div>